@import 'style';
$bluecolor: #08fdd8;

.container{
    width: 100%;
}

.h1close{
    margin-left: -7vh;
}

.about-heading{
    color: $bluecolor;
}
.about-paragraph{
    color: white !important;
    line-height: 1.5rem;
}
.logo{

    h1{
        border: 1px solid $bluecolor;
        padding: 6px;
        border-radius: 50%;
    }
    
}

h1:hover{
    animation: rubberBand 1s linear 0.1s 1 reverse both;
}
@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  } 

  // ####################################   skills bar styling  ##################################################

  .skill-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill{
    letter-spacing: 0.3px;
    display: block;
    width: 50%;
    text-transform: uppercase;
  }
  .bar{
    display: block;
    padding: 2px;
    height: 1px;
    width: 100%;
    border-left: 2px solid $bluecolor;
    border-right: 2px solid $bluecolor;
    border-radius: 5px;
  }
  .fill{
    height: 1px;
    background-color: $bluecolor;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 5px #00fcc5;
  }
  #html{
    width: 80%;
    animation: html 2s;
  }
  #css{
    width: 90%;
    animation: css 2s;
  }
  #javascript{
    width: 70%;
    animation: javascript 2s;
  }
  #react{
    width: 40%;
    animation: react 2s;
  }
  #python{
    width: 60%;
    animation: python 2s;
  }
  #c{
    width: 80%;
    animation: c 2s;
  }
  #mysql{
    width: 65%;
    animation: mysql 2s;
  }
  @keyframes html {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes css {
    0% {
      width: 0;
    }
    100% {
      width: 90%;
    }
  }
  @keyframes javascript {
    0% {
      width: 0;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes react {
    0% {
      width: 0;
    }
    100% {
      width: 40%;
    }
  }
  @keyframes python {
    0% {
      width: 0;
    }
    100% {
      width: 60%;
    }
  }
  @keyframes c {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes mysql {
    0% {
      width: 0;
    }
    100% {
      width: 65%;
    }
  }