$primary-font: 'helvetica', sans-serif;
$secondary-font: 'Dancing Script', cursive;
$bgcolor: #222;
$bluecolor: #08fdd8;

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex-props{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-tags{
    font-family: $secondary-font;
    color: #666;
    font-size: 1.7rem;
}

.bodyopen{
    margin-left: -10%;
}
.bodyclose{
    margin-left: -10%;
}
.h1open{
    margin-left: -7%;
}
.h1close{
    font-size: 1.5rem;
}


body{
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
    background-color: $bgcolor;
    font-family: $primary-font;
    color: white;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    .container{
        width: max-content;
        height: 100vh;
        display: flex;

        .navbar{
            height: 100vh;
            width: 8vh;
            @include flex-props;
            flex-direction: column;
            background-color: #111;

            .logo{
                flex-grow: 1;
                h1{
                    border: 1px solid $bluecolor;
                    padding: 6px;
                    border-radius: 50%;
                }
            }

            .navlist{
                flex-grow: 4;
                ul{
                    @include flex-props;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 100%;
                    font-size: 1.7rem;
                    list-style: none;
                    padding: 0;

                    a{
                        color: #777;

                        li:hover{
                            color: $bluecolor;
                        }
                    }
                }
            }
            .navfooter{
                flex-grow: 3;
                ul{
                    @include flex-props;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    font-size: 1.2rem;
                    list-style: none;
                    padding: 0;

                    a{
                        margin-top: 1rem;
                        color: #777;

                        li:hover{
                            color: $bluecolor;
                        }
                    }
                }
            }
            .hamburger{
                display: none;
            }
            
        }
        .hamburger-nav{
            display: none;
        }
        .pbody{
            width: max-content;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 15vh;

            .intro{
                h1{
                    font-size: 3rem;

                    .N{
                        color: $bluecolor;
                    }
                }
                p{
                    margin: 0;
                    font-size: 0.8rem;
                    color: #777;
                    letter-spacing: 3px;
                    word-spacing: 5px;
                }
                button{
                    font-size: 13px;
                    padding: 10px 18px;
                    letter-spacing: 4px;
                    background: none;
                    border: 1px solid $bluecolor;
                    color: $bluecolor;
                    margin-top: 2rem;
                }
                button:hover{
                    background: $bluecolor;
                    color: #555;
                }
            }
        }
    }
    .invert{
        height: 3rem;
        margin: 2rem;
        font-family: $secondary-font;
    }
}

#particles-js{
    height: 50%;
    margin: auto;
    width: 50%;
    background-color: $bgcolor;
}



@media only screen and (max-width: 768px){
    body{
        overflow-y: auto;
        overflow-x: hidden;

        #particles-js{
            width: 0 !important;
        }

        .top-tags{
            font-size: 0.8rem;
        }

        .bodyopen{
            margin-left: 0 !important;
        }
        .bodyclose{
            margin-left: 0 !important;
        }
        .h1open{
            margin-left: 0 !important;
        }
        .h1close{
            font-size: 0 !important;
        }
        
        
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        .navbar{
            display: flex !important;
            flex-direction: row !important;
            width: 100% !important;
            height: 10% !important;

            .logo{
                h1{
                    margin-left: 0!important;
                }
            }

            .hamburger{
                display: block !important;
                margin-right: 5px !important;
            }
            
        }
        .hamburger-nav{
            ul{
                display: flex;
                list-style: none;
                justify-content: space-around;
                align-items: center;
                background-color: #2b2b2b;
                margin: 0;
                padding: 0;
                height: 5vh;
                
                i{
                    color: #fff;
                }
                

            }
        }
        .logo{
            flex-grow: unset !important;
            display: flex;
            margin: 0 !important;
            padding: 0 !important;
            margin-left: 5px !important;
            width: max-content;
            height: max-content;
        }
        .navlist{
            display: none;
        }
        .navfooter{
            display: none;
        }
    }

    .pbody{
        margin-left: 0.5rem !important;
        overflow: auto;
        width: 100% !important;
        .intro{
            h1{
                font-size: 1.5rem !important;
            }
        }
        button{
            font-size: 9px !important;
            padding: 5px 9px !important;
            letter-spacing: 2px !important;
            margin-top: 1rem !important;
        }
    }

    
}