@import "style";
$bluecolor: #08fdd8;
$secondary-font: 'Dancing Script', cursive;


.navbar{
    padding: 0 10px;
    width: 100vw;
}

.work-header{
    h1{
        text-align: center;
        color: $bluecolor;
        font-size: 3rem;
    }
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .work-card{
        
        h3{
            margin: 0;
            font-family: $secondary-font;
        }
        h3:hover{
            border-bottom: 1px solid $bluecolor;
            cursor: pointer;
        }
    }
    

    img{
        width: 15rem;
        height: 15rem;
        transition: transform .2s;
    }
    
    img:hover{
        transform: scale(1.25);
    }
    
}

@media only screen and (max-width: 768px){
    body{
        display: block;
    }
    .grid-container{
        width: 60%;
        margin: auto;
    }
}